
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//colors and ohers 
:root {
    --primary:#29557B;
    --orange:#F25420;

}

//header part header
header {
    display: flex;
    justify-content: space-between;

    //style the nav
    nav ul {
        display: inline-flex;
        list-style-type: none;


        
        li {
            margin-right: 2em;
        }
        li:nth-child(4) {
            margin-right: 0;
        }
    }

    a {
        text-decoration: none;
        color: rgb(90, 90, 90);
        font-size: 1.5em;
        
    }

  
}

//hero top sections

.hero {
    .container {


        .text-details {
            color: var(--primary);
            font-size:    85px;
            font-family: poppins;
            font-weight: 700;
        }

        small {
            font-family: inter;
            color: grey;
        }
    }
}



