
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//colors and ohers 
:root {
    --primary:#29557B;
    --orange:#F25420;

}

html, body {
    overflow-x: hidden;
}

//header part header
header {
    display: flex;
    justify-content: space-between;

    //style the nav
    nav ul {
        display: inline-flex;
        list-style-type: none;


        
        li {
            margin-right: 2em;
        }
        li:nth-child(4) {
            margin-right: 0;
        }
    }

    a {
        text-decoration: none;
        color: rgb(90, 90, 90);
        font-size: 1.5em;
        
    }

  
}

//hero top sections

.hero {
    .container {


        .text-details {
            color: var(--primary);
            font-size:    85px;
            font-family: poppins;
            font-weight: 700;
        }

        small {
            font-family: inter;
            color: grey;
        }
    }
}

//main part

main {
    .container {


        .language {
            height: 29px;
            width: 457px;
            left: 393px;
            top: 780px;
            border-radius: nullpx;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
           margin: 2em 0;

        }

        //flag part
        .flags {
            position: absolute;
            width: 100%;
            padding: 1em 0;

            background: #E9E9E9;
        }
    }
}



